/* Box-sizing reset: Ensures padding and borders are included in an element's total width and height */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  height: 100vh; /* Ensures the body spans the full height of the browser window */
  width: 100vw;  /* Ensures the body spans the full width of the browser window */
  background-color: #202020;
  color: #202020;
}

.parent{
  height: 100%;
  padding: 30px;
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.card{
  width: 300px;
  height: 300px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top img{
  height: 40px;
  width: 40px;
  border-radius: 50px;
  border: 1px solid #dbdbdb;
  padding: 6px;
}

.top button{
  display: flex;
  align-items: center;
  border: 1px solid #dbdbdb;
  padding: 4px 10px;
  font-size: 14px;
  border-radius: 10px;
  gap: 4px;
  color: #2a2a2a;
  background-color: transparent;
}

.center h3{
  font-size: 18px;
  font-weight: 500;
}

.center h3 span{
  font-size: 10px;
  font-weight: 400;
  color: #424242;
}

.center h2{
  font-size: 22px;
}

.center .tag{
  display: flex;
  gap: 5px;
}

.center .tag h4{
  background-color: #dbdbdb;
  padding: 2px 10px;
  font-size: 10px;
  font-weight: 300;
  margin-top: 3px;
  border-radius: 10px;
}

.bottom{
  display: flex;
  align-items: center;
  border-top: 1px solid #dbdbdb;
  justify-content: space-between;
  padding: 10px 0 ;
}

.bottom button{
   display: flex;
  align-items: center;
  border: 1px solid #dbdbdb;
  padding: 10px 16px;
  font-size: 14px;
  border-radius: 10px;
  gap: 4px;
  color: #fff;
  background-color: #202020;
}

.bottom h3{
  font-size: 22px;
  font-weight: bold;
}

.bottom p{
  font-size: 12px;

}